/* header */

* {
    font-family: "Consolas";
    text-align: center;

}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 47%, rgba(187,219,162,1) 50%, rgba(0,122,157,1) 75%, rgba(0,0,0,1) 100%);
}

.center {
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2 {
}

ul {
    margin-left: 0;
    padding-left: 0;
}

ul li {
    padding: .3rem 0;
    list-style-type: none;
}

a {
    color: black;
}

@media only screen and (max-width: 600px) {
    .center {
        width: 100%
    }
    ul li {
        padding: .6rem 0;
    }
}
@media only screen and (max-width: 900px) {
    body {
        background: radial-gradient(circle, rgba(255,255,255,1) 67%, rgba(187,219,162,1) 70%, rgba(0,122,157,1) 85%, rgba(0,0,0,1) 100%);
    }
}